div#login {
    width: 50%;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 2rem;
    margin-top: 2rem;
}

.heading {
    display: flex;
    justify-content: center;
}

form.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login {
    display: flex;
    justify-content: center;
}

.btn-lg {
    width: 100%;
}

input[type="text"],input[type="email"], input[type="password"] {
    padding: 0.5rem;
    border-radius: 3px;
    border: 1px solid #635656;
}

.btn {
   
    padding: 0.5rem;
    border-radius: 0;
    border: 1px;

}

.btn-primary {
    background: #5591db;
    color: #FFF;
    font-weight: bold;
    font-size: 1rem;
}